.body, html {
  scroll-behavior: smooth;
}
.main-box {
  margin-top: 50px;
}
.page-divide {
  border-left: 6px solid black;
  height: 3300px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.Bitmex-link {
  padding-right: 10px;
  font-size: 20px;
}
.TokenAnalyst-link {
  padding-left: 10px;
  font-size: 20px;
}
.links {
  margin-right: 20px;
}
.navbar-end {
  margin-right: 60px;
}
.subtitle {
  padding-right: 100px;
}
.title-box {
  margin: auto;
  padding-left: 180px;
  text-align: center;
}
.node-type {
  font-size: 28px;
  background-color: black;
  color: white;
}

.not-used {
  color: white;
}
.table-box {
  font-size: 20px;
}
.table-header {
  text-align: center;
  transition: transform 1s;
  font-size: 15px;
  color: #999999;
}
.mobile-table-header {
  display: none;
}
.box {
  width: 100%;
}
.graph {
  text-align: center;
  border: 1px solid black;
  transition: transform 1s;
  font-size: 20px;
  background-color: white;
}
.center {
  position: relative;
}
.text {
  text-align: left;
  border: 1px solid black;
  font-size: 17px;
}
.text:hover {
}
.fa-info-circle {
  text-align: right;
}
.icon {
  text-align: left;
}
.data {
  text-align: center;
  border: 1px solid black;
  font-size: 15px;
}
.data:hover {

}
.bitmex-logo {
  right: 0;
}
.tokenanalyst-logo {
  left: 0;
}
.mobile-data {
  display: none;
}
nav {
  border-bottom: 6px solid black;
  margin-bottom: 50px;
  z-index: 0;
}
.navbar-burger {
  position: absolute;
  right: 0;
  top: 0;
}
.footer {
  border-top: 6px solid black;
  z-index: 2;
}
.button {
  font-size: 20px;
}
.button-box {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 50px;
}
// .content {
//   position: sticky;
//   top: 30;
//   width: 100%;
//   z-index: 99;
// }
.name {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
  background-color: white;
  width: 100%;
  height: 40px;
}
.company {
  margin-right: 8px;
}
.company-icon {
  font-size: 22px;
}
.footer {
  margin-top: 80px;
}
.chart {
}
.charts {
  margin-left: 0;
  padding: 0;
  height: 144px;
}
.chart:hover {
  // transform: scale(1.5);
  // z-index: 1;
}
.icon:hover {
 cursor: pointer;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltip-mobile .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.mobile-bottom-navs {
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
  background-color: #eeeeee;
  width: 100%;
  font-size: 18px;
  border: none;
  outline: none;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  height: 50px;
}
.navs {
  position: absolute;
}
.disclaimer {
  font-size: 10px;
  text-align: center;
}
.arrowDown {
  cursor: pointer;
  position: fixed;
  font-size: 40px;
  bottom: 20px;
  right: 40px;
}
.arrowUp {
  cursor: pointer;
  position: fixed;
  font-size: 40px;
  bottom: 60px;
  right: 40px;
}
.red {
  color: red;
}
.green {
  color: green;
}
.black {
  color: black;
}
@keyframes bounce {
  0% {color: black; bottom: 20px; right: 40px;}
  25% {color: black; bottom: 25px; right: 40px;}
  50% {color: grey; bottom: 15px; right: 40px;}
  75% {color: grey; bottom: 20px; right: 40px;}
}
.scroll-box {
  position: fixed;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  background-color: white;
}
.move-page-up:hover {
  background-color: #555;
}
.move-page-down:hover {
  background-color: #555;
}
@media (min-width: 750px) {
  html {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .chart {
    height: 100px;
  }
  .data {
    font-size: 10px;
  }
  .text {
    font-size: 15px;
  }
  margin-bottom: 20px;
  .data {
    font-size: 15px;
  }
  .table-header {
    font-size: 12px;
  }
}
@media (max-width: 822px) {
  body {
    background-color: #eeeeff;
  }
  .row {
    background-color: white;
  }
  .desktop-data {
    display: none;
  }
  .mobile-data {
    display: block;
  }
  .data {
    margin-bottom: 30px;
  }
  .table-header {
    display: none;
  }
  .mobile-table-header {
    display: inline-block;
  }
}
@media (max-width: 775px) {
  .graph {
    display: none;
  }
  .is-one-quarter-desktop {
    display: none;
  }
  nav {
  width: 100%;
}
  .node-type {
    font-size: 20px;
  }
  .text {
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .button-box {
    margin: 10px;
  }
  .arrowDown, .arrowUp {
    visibility: hidden;
  }
  .page-divide {
    height: 2000px;
  }
  // .Bitmex-link {
  //   padding: 20px;
  // }
  // .TokenAnalyst-link {
  //   padding: 10px;
  // }
  .scroll-box {
    width: 110%;
    position: fixed;
    bottom: 0;
    left: 0;
  }

}
@media (max-width: 740px) {
  .page-divide {
    height: 2200px;
  }
  .full {
    margin-left: 20px;
    left: 0;
    bottom: 10;
    position: absolute;
    text-align: left;
    color: black;
  }
  .fast {
    left: 47.5%;
    bottom: 10;
    position: absolute;
    text-align: center;
    color: black;
  }
  .archive {
    margin-right: 20px;
    right: 0;
    bottom: 30;
    position: absolute;
    text-align: right;
    color: black;
  }
  .mobile-bottom-navs {
    position: fixed;
    display: block;
  }
}
@media (max-width: 600px) {
  .graph {
    display: none;
  }
  nav {
  width: 100%;
}
  .node-type {
    font-size: 20px;
  }
  .button {
    width: 140px;
  }

}
@media (max-width: 430px) {
  .page-divide {
    height: 2100px;
  }
  .data {
    font-size: 17px;
  }
  .text {
    font-size: 15px;
  }
  .fast {
    left: 45%;
    bottom: 10;
    position: absolute;
    text-align: center;
  }
}
// For if we use the custom tooltip

// div.google-visualization-tooltip {
//   height: 50px;
//   width: 120px;
//   background-color: #999;
//   color: #fff;
//   text-align: center;
//   padding: 5px 0;
//   border-radius: 6px;
//   position: absolute;
//   z-index: 1;
//   top: 0%;
//   right: 0%;
//   margin-left: -60px;
// }
//
// div.google-visualization-tooltip::after {
//   content: "";
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   margin-left: -5px;
//   border-width: 5px;
//   border-style: solid;
//   border-color: #555 transparent transparent transparent;
// }
// div.google-visualization-tooltip-item span {
//   padding: 0;
// }
// .google-visualization-tooltip {
//   color: white;
// }
