.body, html {
  max-width: 100%;
}
.Bitmex-link {
  padding-right: 0;
}
.TokenAnalyst-link {
  padding-left: 0
}
.main-box {

}
.title-box {
  margin: auto;
  padding-left: 180px;
  text-align: center;
}
.node-type {
  font-size: 28px;
}
.not-used {
  color: white;
}
.table-box {
  font-size: 20px;
}
.box {
  width: 100%;
}
.graph {
  text-align: center;
  border: 1px solid black;
}
.text {
  text-align: center;
  border: 1px solid black;
}
.data {
  text-align: center;
  border: 1px solid black;
}
nav {
  border-bottom: 1px solid black;
  margin-bottom: 50px;
}
.navbar-burger {
  position: absolute;
  right: 0;
  top: 0;
}
.button {
  margin-right: 60px;
}
.footer {
  margin-top: 80px;
}
@media (min-width: 700px) {
  html {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .graph {
    display: none;
  }
  nav {
  width: 100%;
}
  .node-type {
    font-size: 20px;
  }
  .button {
    width: 140px;
  }
  .line {
    display: none;
  }
}
