@import "~modularscale-sass/stylesheets/modularscale";

$mainfont: "Nunito", sans-serif;
$metricfont: "Nunito", sans-serif;

$modularscale: (
  base: 0.35em,
  ratio: $fifth
);

.body,
html {
  scroll-behavior: smooth;
  font-size: 1em;
  min-height: 800px;
  font-weight: 600;
  font-family: $mainfont;
}

h3 {
  font-size: ms(3);
}

.page-divide {
  border-left: 1px solid #ccc;
  height: 3800px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
  bottom: 0;
  z-index: 5;
}

.Bitmex-link {
  padding-right: 10px;
  color:#8c8c8c;
}
.TokenAnalyst-link {
  padding-left: 10px;
  color: #8c8c8c;
}
.nodestats-logo {
  padding: 0;
}
.logo {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 250px;
}
.links {
  margin-right: 20px;
}
.navbar-end {
  margin-right: 17%;
}
.subtitle {
  padding-right: 100px;
}
.half {
  position: relative;
  z-index: auto;
}
.modal-card {
  color: black;
  font-size: 20px;
  text-align: left;
}
.modal-inner-card {
  padding: 20px;
}
.pointer{
  cursor: pointer;
}
.flags {
  background-color: #eeeeee;
  font-family: "B612 Mono", monospace;
  font-size: 14px;
  padding: 20px;
}
.mobile-list {
  font-size: 12px;
  display: none;
  text-align: left;
}
#infoModal {
  font-size: 30px;
}
.title-box {
  margin: auto;
  padding-left: 180px;
  text-align: center;
}
.node-type {
  position: relative;
  background-color: #3070ff;
  color: white;
  font-size: ms(4);
}

.table-header {
  text-align: center;
  transition: transform 1s;
  color: #999999;
}
.mobile-table-header {
  display: none;
}
.mobile-only {
  display: none;
}
.box {
  width: 100%;
}
.graph {
  text-align: center;
  background-color: white;
  min-height: 80px;
}
.center {
  position: relative;
}
.text {
  text-align: left;
  height: 80px;
  background-color: white;
  font-size: ms(3);
}
.icon {
  text-align: left;
}
.data {
  text-align: center;
  font-size: ms(3);
  font-family: $metricfont;
  font-weight: 800;
}
.bitmex-logo {
  margin: auto;
}
.tokenanalyst-logo {
  margin: auto;
  width: 12rem;
}
.please-wait {
  opacity: 1;
  margin-top: 200px;
  width: 90%;
  height: 400px;
  background-image: url("/images/Screenshot 2019-03-03 at 11.42.30.png");
  background-size: cover;
  background-position: center;
}
.info-bar {
  background-color: #eeeeee;
  margin: 0;
  max-height: 50px;
}
.time-text {
  text-align: right;
}
.time {
  text-align: left;
}
.online {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #33dd66;
  display: inline-block;
}
.offline {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #dd3366;
  display: inline-block;
}
.red {
  color: red;
  text-align: right;
}
.green {
  color: green;
  text-align: right;
}
nav {
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}
.navbar-item {
  font-size: ms(3);
}

.navbar-burger {
  position: absolute;
  right: 0;
  top: 0;
}
.footer {
  border-top: 2px solid #999999;
  position: relative;
  z-index: 6;
  background-color: white;
}

.button-box {
  margin: auto 20px;
  width: 50px;
}
.name {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  width: 100%;
  height: 40px;
  z-index: 4;
}
.company {
  margin-right: 8px;
  font-size: ms(3);
}
.company-icon {
  font-size: ms(2);
  padding-left: 10px;
}
.box {
  margin: auto;
}
.footer {
  margin-top: 80px;
}
.charts {
  margin-left: 0;
  padding: 0;
  height: 144px;
}

.icon:hover {
  cursor: pointer;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 230px;
  background-color: #555;
  color: #fff;
  font-size: ms(2);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  padding: 20px;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 23%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  position: absolute;
  visibility: visible;
  opacity: 1;
  z-index: 99;
}
.small-tooltips {
  color: #3070ff;
}
.mobile-bottom-navs {
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 128, 255, 0.7);
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  height: 50px;
  z-index: 1;
}
.navs {
  position: absolute;
  color: white;
}
.disclaimer {
  text-align: center;
}
.arrowDown {
  cursor: pointer;
  position: fixed;
  font-size: ms(4);
  bottom: 20px;
  right: 40px;
  color: #3070ff;
}
.arrowUp {
  cursor: pointer;
  position: fixed;
  font-size: ms(4);
  bottom: 60px;
  right: 40px;
  color: #3070ff;
}
.chart-spinner {
  font-size: 40px;
  background: -webkit-linear-gradient(#eee, #3070ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 70px;

}
.spinner {
  font-size: 40px;
  background: -webkit-linear-gradient(#eee, #3070ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-spinner {
  font-size: 200px;
  position: absolute;
  left: 45%;
  top: 30%;
  background: -webkit-linear-gradient(#eee, #3070ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.black {
  color: black;
}
.columns.is-mobile > .column.is-6 {
  padding: 0;
}
.navbar-brand {
  margin-left: 10%;
}
@keyframes bounce {
  0% {
    color: black;
    bottom: 20px;
    right: 40px;
  }
  25% {
    color: black;
    bottom: 25px;
    right: 40px;
  }
  50% {
    color: grey;
    bottom: 15px;
    right: 40px;
  }
  75% {
    color: grey;
    bottom: 20px;
    right: 40px;
  }
}
.move-page-up:hover {
  background-color: #555;
}
.move-page-down:hover {
  background-color: #555;
}

// --- Media queries ----

@media (min-width: 750px) {
  html {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .mobile-only {
    display: block;
  }
  .mobile-row {
    background-color: white;
    margin: 0;
  }
  .desktop-only {
    display: none;
  }
  .chart {
    display: none;
  }
  .name {
    height: 5rem;
  }
  .text {
    min-height: 50px;
    background-color: white;
    z-index: 0;
    font-weight: bold;
    padding-left: 20px;
    padding-bottom: 10px;
  }
  .spinner {
    font-size: 30px;
    background: -webkit-linear-gradient(#eee, #3070ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .data {
    font-size: 15px;
    height: 40px;
    margin: 10px 0 20px 0;
    padding: 0 0 15px 0;
  }
  .table-header {
    font-size: 12px;
    text-align: center;
  }
  .modal-card {
    width: 70%;
    font-size: 17px;
  }
  .flags {
    font-size: 12px;
  }
  .mobile-list {
    display: block;
  }
  body {
    background-color: #f7f7f7;
    z-index: -2;
  }
  .tooltip .tooltiptext {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    z-index: 99;
  }
  .row {
    background-color: white;
  }
  .desktop-data {
    display: none;
  }
  .please-wait {
    margin-top: 50px;
    height: 200px;
  }
  .mobile-data {
    display: block;
  }
  .table-header {
    display: none;
  }
  .mobile-table-header {
    display: inline-block;
  }
  .small-tooltips {
    display: none;
    display: none;
  }
  .info-bar {
    max-height: 50px;
  }
  .time {
    height: 50px;
    p {
      margin: 0;
      padding: 0;
      top: 0;
    }
}
  .time-text {
    display: none
  }
  .red {
    display: none
  }
  .green {
    display: none;
  }
}

@media (max-width: 775px) {
  .is-one-quarter-desktop {
    display: none;
  }
  .node-type {
    font-size: ms(4);
  }
  .text {
    padding-left: 20px;
    padding-right: 20px;
  }
  .links {
    margin-left: 10%;
  }
  .button-box {
    margin-left: 12%;
  }
  .arrowDown,
  .arrowUp {
    visibility: hidden;
  }
  .page-divide {
    height: 2000px;
    display: none;
  }
  .scroll-box {
    width: 110%;
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
@media (max-width: 740px) {
  .page-divide {
    height: 2200px;
  }
  .full {
    margin-left: 20px;
    left: 0;
    bottom: 10;
    position: absolute;
    text-align: left;
    color: white;
    font-weight: bold;
  }
  .fast {
    left: 47.5%;
    bottom: 10;
    position: absolute;
    text-align: center;
    color: white;
    font-weight: bold;
  }
  .archive {
    margin-right: 20px;
    right: 0;
    bottom: 30;
    position: absolute;
    text-align: right;
    color: white;
    font-weight: bold;
  }
  .mobile-bottom-navs {
    position: fixed;
    display: block;
  }
}
@media (max-width: 600px) {
  nav {
    width: 100%;
  }
  .button {
    width: 140px;
  }
}
@media (max-width: 430px) {
  .page-divide {
    height: 2100px;
  }
  .node-type {
    i {
      font-size: 20px;
    }
    font-size: 25px;
  }

  .fast {
    left: 45%;
    bottom: 10;
    position: absolute;
    text-align: center;
  }
  .please-wait {
    margin-top: 200px;
    width: 90%;
    height: 250px;
    transform: rotate(90deg);
  }
}
@media (max-width: 380px) {
  .content figure {
    margin-left: 0;
    margin-right: 0;
  }
}
