@import '~modularscale-sass/stylesheets/modularscale';

$modularscale: (
  base: 0.35em,
  ratio: $fifth 
);

.body, html {
  scroll-behavior: smooth;
  font-size: 1em;
  min-height: 800px;
}

h3 {
  font-size: ms(3);
  font-weight: 500;
}

.page-divide {
  border-left: 1px solid #ccc;
  height: 3100px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.Bitmex-link {
  padding-right: 10px;

}
.TokenAnalyst-link {
  padding-left: 10px;

}
.nodestats-logo {
  padding: 0;
}
.logo {
  height: 75px;
  width: 250px;
}
.links {
  margin-right: 20px;
}
.navbar-end {
  margin-right: 60px;
}
.subtitle {
  padding-right: 100px;
}
.title-box {
  margin: auto;
  padding-left: 180px;
  text-align: center;
}
.node-type {
  background-color: #0080ff;
  color: white;
  font-size: ms(4);
}

.table-header {
  text-align: center;
  transition: transform 1s;
  font-size: 15px;
  color: #999999;
}
.mobile-table-header {
  display: none;
}
.box {
  width: 100%;
}
.graph {
  text-align: center;
  background-color: white;
  min-height: 80px;
}
.center {
  position: relative;
}
.text {
  text-align: left;
  height: 80px;
  background-color: white;
  z-index: 0;
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
  font-size: ms(3)
}
.icon {
  text-align: left;
}
.data {
  text-align: center;
  font-size: ms(3);
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
}

.bitmex-logo {
  margin: auto;
}
.tokenanalyst-logo {
  margin: auto;
}
.please-wait {
  opacity: 1;
  margin-top: 200px;
  width: 90%;
  height: 400px;
  background-image: url('/images/Screenshot 2019-03-03 at 11.42.30.png');
  background-size: cover;
  background-position: center;
}
.mobile-data {
  display: none;
}
nav {
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
  z-index: 0;
}
.navbar-item {
  font-size: ms(3);
}

.navbar-burger {
  position: absolute;
  right: 0;
  top: 0;
}
.footer {
  border-top: 2px solid #0080ff;
  z-index: 2;
}
.button {
  color: white;
  background-color: #0080ff;
}
.button-box {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 50px;
}
// .content {
//   position: sticky;
//   top: 30;
//   width: 100%;
//   z-index: 99;
// }
.name {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
  background-color: white;
  width: 100%;
  height: 40px;
}
.company {
  margin-right: 8px;
  font-size: ms(3)
}
.company-icon {
  font-size: 22px;
}
.box {
  margin: auto;
}
.footer {
  margin-top: 80px;
}
.chart {
}
.charts {
  margin-left: 0;
  padding: 0;
  height: 144px;
}
.chart:hover {
  // transform: scale(1.5);
  // z-index: 1;
}
.icon:hover {
 cursor: pointer;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  font-size: ms(2);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 0;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltip-mobile .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.mobile-bottom-navs {
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 128, 255, 0.7);
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  height: 50px;
  z-index: 99;
}
.navs {
  position: absolute;
  color: white;
}
.disclaimer {
  
  text-align: center;
}
.arrowDown {
  cursor: pointer;
  position: fixed;
  font-size: ms(4);
  bottom: 20px;
  right: 40px;
  color: #0080ff;
}
.arrowUp {
  cursor: pointer;
  position: fixed;
  font-size: ms(4);
  bottom: 60px;
  right: 40px;
  color: #0080ff;
}
.chart-spinner {
  font-size: 40px;
  background: -webkit-linear-gradient(#eee, #0080ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-spinner {
  font-size: 200px;
  position: absolute;
  left: 45%;
  top: 30%;
  z-index: 0;
  background: -webkit-linear-gradient(#eee, #0080ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.red {
  color: red;
}
.green {
  color: green;
}
.black {
  color: black;
}
.columns.is-mobile > .column.is-6 {
  padding: 0;
  z-index: 2;
}
@keyframes bounce {
  0% {color: black; bottom: 20px; right: 40px;}
  25% {color: black; bottom: 25px; right: 40px;}
  50% {color: grey; bottom: 15px; right: 40px;}
  75% {color: grey; bottom: 20px; right: 40px;}
}
// .scroll-box {
//   position: fixed;
//   z-index: 99;
//   font-size: 18px;
//   border: none;
//   outline: none;
//   color: black;
//   cursor: pointer;
//   padding: 15px;
//   border-radius: 4px;
//   background-color: white;
// }
.move-page-up:hover {
  background-color: #555;
}
.move-page-down:hover {
  background-color: #555;
}


// --- Media queries ----

@media (min-width: 750px) {
  html {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .chart {
    height: 100px;
  }
  .data {
    font-size: 10px;
  }
  .text {
    font-size: 15px;
    text-align: center;
  }
  .main-spinner {
  }
  .data {
    font-size: 15px;
  }
  .table-header {
    font-size: 12px;
  }
  body {
    background-color: #eeeeee;
    z-index: -2;
  }
  .row {
    background-color: white;
  }
  .desktop-data {
    display: none;
  }
  .please-wait {
    margin-top: 50px;
    height: 200px;
  }
  .mobile-data {
    display: block;
  }
  .data {
    margin-bottom: 30px;
    height: 55px;
  }
  .table-header {
    display: none;
  }
  .mobile-table-header {
    display: inline-block;
  }
}

@media (max-width: 775px) {
  .graph {
    display: none;
  }
  .is-one-quarter-desktop {
    display: none;
  }
  nav {
  width: 100%;
}
  .node-type {
   font-size: ms(4);
  }
  .text {
 
    padding-left: 20px;
    padding-right: 20px;
  }
  .button-box {
    margin: 10px;
  }
  .arrowDown, .arrowUp {
    visibility: hidden;
  }
  .page-divide {
    height: 2000px;
  }
  // .Bitmex-link {
  //   padding: 20px;
  // }
  // .TokenAnalyst-link {
  //   padding: 10px;
  // }
  .scroll-box {
    width: 110%;
    position: fixed;
    bottom: 0;
    left: 0;
  }

}
@media (max-width: 740px) {
  .page-divide {
    height: 2200px;
  }
  .full {
    margin-left: 20px;
    left: 0;
    bottom: 10;
    position: absolute;
    text-align: left;
    color: white;
    font-weight: bold;
  }
  .fast {
    left: 47.5%;
    bottom: 10;
    position: absolute;
    text-align: center;
    color: white;
    font-weight: bold;
  }
  .archive {
    margin-right: 20px;
    right: 0;
    bottom: 30;
    position: absolute;
    text-align: right;
    color: white;
    font-weight: bold;
  }
  .mobile-bottom-navs {
    position: fixed;
    display: block;
  }
}
@media (max-width: 600px) {
  .graph {
    display: none;
  }
  nav {
  width: 100%;
}
  .node-type {
    font-size: 20px;
  }
  .button {
    width: 140px;
  }

}
@media (max-width: 430px) {
  .page-divide {
    height: 2100px;
  }
  .data {
    font-size: 17px;
  }
  .text {
    font-size: 15px;
  }
  .fast {
    left: 45%;
    bottom: 10;
    position: absolute;
    text-align: center;
  }
  .please-wait {
    margin-top: 200px;
    width: 90%;
    height: 250px;
    transform: rotate(90deg);
  }
}
@media (max-width: 380px) {
  .content figure {
    margin-left: 0;
    margin-right: 0;
  }
}
