.body, html {
  max-width: 100%;
}
.Bitmex-link {
  padding-right: 0;
}
.TokenAnalyst-link {
  padding-left: 0
}
.main-box {

}
.title-box {
  margin: auto;
  padding-left: 180px;
  text-align: center;
}
.node-type {
  font-size: 28px;
}
.not-used {
  color: white;
}
.table-box {
  font-size: 20px;
}
.box {
  width: 100%;
}
.graph {
  text-align: center;
  border: 1px solid black;
}
.text {
  text-align: center;
  border: 1px solid black;
}
.data {
  text-align: center;
  border: 1px solid black;
}
nav {
  border-bottom: 1px solid black;
  margin-bottom: 50px;
}
.navbar-burger {
  position: absolute;
  right: 0;
  top: 0;
}
.button {
  margin-right: 60px;
}
.footer {
  margin-top: 80px;
}
.chart {

}
.chart:hover {
  border: 1px solid rgba(0, 222, 0, 1);
}
.icon:hover {
 cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
@media (min-width: 700px) {
  html {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .graph {
    display: none;
  }
  nav {
  width: 100%;
}
  .node-type {
    font-size: 20px;
  }
  .button {
    width: 140px;
  }
  .line {
    display: none;
  }
}
