.body, html {
}
.geth {

}
.page-divide {
  border-left: 6px solid black;
  height: 1255px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
.Bitmex-link {
  padding-right: 0;
  font-size: 20px;
}
.TokenAnalyst-link {
  padding-left: 0;
  font-size: 20px;
}
.main-box {

}
.title-box {
  margin: auto;
  padding-left: 180px;
  text-align: center;
}
.node-type {
  font-size: 28px;
}
.not-used {
  color: white;
}
.table-box {
  font-size: 20px;
}
.box {
  width: 100%;
}
.graph {
  text-align: center;
  border: 1px solid black;
  transition: transform 1s;
  font-size: 20px;
  background-color: white;
}
.graph:hover {

}
.text {
  text-align: center;
  border: 1px solid black;
  font-size: 20px;
}
.text:hover {
  box-shadow: 5px 5px 5px #999999;
}
.data {
  text-align: center;
  border: 1px solid black;
  font-size: 20px;
}
.data:hover {
  box-shadow: 5px 3px 2px #999999;
}
nav {
  border-bottom: 6px solid black;
  margin-bottom: 50px;
  z-index: 0;
}
.navbar-burger {
  position: absolute;
  right: 0;
  top: 0;
}
.footer {
  border-top: 6px solid black;
}
.button {
  font-size: 20px;
}
.button-box {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 50px;
}
.company-name {
  position: sticky;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 2;
  background: linear-gradient(white);
}
.footer {
  margin-top: 80px;
}
.chart {
  margin: 0;
  padding: 5px 20px;
}
.chart:hover {
  box-shadow: 5px 2px 2px #999999;
  transform: scale(2);
  z-index: 1;
}
.icon:hover {
 cursor: pointer;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
@media (min-width: 750px) {
  html {
    width: 100%;
  }
}
@media (max-width: 822px) {
  .main-box {

  }
}
@media (max-width: 775px) {
  .graph {
    display: none;
  }
  nav {
  width: 100%;
}
  .node-type {
    font-size: 20px;
  }
  .button-box {
    text-align: center;
  }
  .line {
    display: none;
  }
  .page-divide {
    height: 1172px;
  }
  .Bitmex-link {
    padding: 10px;
  }
  .TokenAnalyst-link {
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .graph {
    display: none;
  }
  nav {
  width: 100%;
}
  .node-type {
    font-size: 20px;
  }
  .button {
    width: 140px;
  }
  .line {
    display: none;
  }
}
@media (max-width: 400px) {
  .page-divide {
    height: 1283px;
  }
}
// For if we use the custom tooltip

// div.google-visualization-tooltip {
//   height: 50px;
//   width: 120px;
//   background-color: #999;
//   color: #fff;
//   text-align: center;
//   padding: 5px 0;
//   border-radius: 6px;
//   position: absolute;
//   z-index: 1;
//   top: 0%;
//   right: 0%;
//   margin-left: -60px;
// }
//
// div.google-visualization-tooltip::after {
//   content: "";
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   margin-left: -5px;
//   border-width: 5px;
//   border-style: solid;
//   border-color: #555 transparent transparent transparent;
// }
// div.google-visualization-tooltip-item span {
//   padding: 0;
// }
// .google-visualization-tooltip {
//   color: white;
// }
